<h1 id="tableLabel">Add Member</h1>

<form [formGroup]="AddForm" (submit)="onSubmit(AddForm)">

    <input type="hidden" formControlName="TeamId" />

    <div class="form-group" required>
        <label>Name</label>
        <select formControlName="PersonId" class="form-control">
            <option value=""></option>
            <option *ngFor="let person of people" [value]="person.id">
                {{ person.name }}
            </option>
        </select>
        <label class="text-danger" *ngIf="Submitted && AddForm?.controls.PersonId?.errors?.required">This field is required!</label>
    </div>


    <button type="submit" class="btn btn-primary block full-width m-b">Add</button>
    <label class="text-danger">{{ErrorMessage}}</label>
</form>
